services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: reviews
      POSTGRES_USER: avito
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./migrations/data:/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d reviews -U avito"]
      interval: 5s
      timeout: 5s
      retries: 5

  server:
    build:
      context: .
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8080:8080"


volumes:
  postgres-data:
